@{
    ViewData["title"] = "¿Cuál será la categoría?";
}

<!-- Declarar variables -->
<script>
    let Categorias = [];
    let CategoriaElegida = "@ViewBag.CategoriaElegida.Nombre";
</script>

<!-- Afuera del script, usar el foreach de razor porque sino falla (Sólo puede generar código de html, no de javascript) -->
@foreach(var Categoria in ViewBag.CategoriasPendientes){
    <script>
        Categorias.push("@Categoria.Nombre");
    </script>
}

<h1 id="Categoria"></h1>
<script>
    const VecesQuePasaLaCategoriaCorrecta = 5; // valor trivial, puede ser cualquiera

    const TextoCategoria = document.querySelector("#Categoria");
    let CantidadVecesAparecioElegida = 0;
    let Pasando = true;

    let Index = 0;

    while(Pasando){
        if(Index >= Categorias.length) Index = 0;
        TextoCategoria.InnerText = Categorias[Index++];

        if(TextoCategoria.InnerText == CategoriaElegida) CantidadVecesAparecioElegida++;
        if(CantidadVecesAparecioElegida >= VecesQuePasaLaCategoriaCorrecta) Pasando = false;
    }
</script>