@{
    ViewData["title"] = "¿Cuál será la categoría?";
}

<!-- Declarar variables -->
<script>
    let Categorias = [];
    let CategoriaElegida = "@ViewBag.CategoriaElegida.Nombre";
</script>

<!-- Afuera del script, usar el foreach de razor porque sino falla (Sólo puede generar código de html, no de javascript) -->
@foreach(var Categoria in ViewBag.CategoriasPendientes){
    <script>
        Categorias.push("@Categoria.Nombre");
    </script>
}

<h1 id="Categoria"></h1>
<script type="module">
    const VecesQuePasaLaCategoriaCorrecta = 3; // valor trivial, puede ser cualquiera

    const TextoCategoria = document.querySelector("#Categoria");
    let CantidadVecesAparecioElegida = 0;
    let Pasando = true;

    let Index = 0;
    let TiempoEntreCambio = 700;
    while(Pasando){
        if(TiempoEntreCambio <= 200) TiempoEntreCambio = 200;
        if(Index >= Categorias.length) Index = 0;
        TextoCategoria.innerText = Categorias[Index++];
        if(TextoCategoria.innerText == CategoriaElegida) CantidadVecesAparecioElegida++;
        if(CantidadVecesAparecioElegida >= VecesQuePasaLaCategoriaCorrecta) Pasando = false;
        await new Promise(r => setTimeout(r, TiempoEntreCambio));
        TiempoEntreCambio -= 80;
    }

    // Esperar un poco antes de pasar a la pregunta
    await new Promise(r => setTimeout(r, 1000));
    location.pathname = '@Url.Action("Jugar", "Home")';
</script>