@{
    ViewData["title"] = "¡El fin!";
}

<div class="text-center">    
    <table class="table table-dark" style="width: 30%;">
        <tr><td>Tu nombre de usuario: </td><td>@ViewBag.Username</td></tr>
        <tr><td>Tu puntaje final: </td><td>@ViewBag.PuntajeActual</td></tr>
    </table>

    <a href='@Url.Action("ConfigurarJuego", "Home")'>
        <button class="btn btn-primary">Reiniciar partida</button>
    </a>
</div>