@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/logo.jfif" alt="Logo">
    <h1>Preguntados</h1>
    <p>¡Poné a prueba tus conocimientos!</p>

    <a href='@Url.Action("ConfigurarJuego", "Home")'>
        <button>Jugá ya</button>
    </a>
</div>
