@{
    ViewData["Title"] = "Preguntados - Juega Ahora";
}

<div class="landing-container">
    <img src="~/img/logo.jfif" alt="Logo Respondidos" class="logo">
    
    <h1>Respondidos</h1>
    <p>¡Poné a prueba tus conocimientos!</p>

    <a href='@Url.Action("ConfigurarJuego", "Home")'>
        <button class="BotonJugar">Jugá ya</button>
    </a>
</div>