@{
    ViewData["title"] = "¿Fue correcta?";
}

<div style="background-color: blue;">
    @if(ViewBag.EsCorrecta){
        <script>
            Swal.fire({
                title: "¡Buen trabajo, sigue así!",
                text: "La respuesta fue correcta",
                icon: "success",
                background: "#d4edda",  // Fondo verde claro
                color: "#155724",  // Texto en verde oscuro
                confirmButtonColor: "#28a745"  // Botón de confirmación verde
            }).then(() => location = '@Url.Action("Jugar", "Home")');
        </script>
    }
    else{
        <script>
            Swal.fire({
                icon: "error",
                title: "Upss...",
                text: "La respuesta que has hecho es incorrecta",
                background: "#f8d7da",
                color: "#721c24",
                confirmButtonColor: "#dc3545"
            }).then(() => location = '@Url.Action("Jugar", "Home")');
        </script>
    }
</div>